<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JGD</title>
  </head>

  <body>


    <header>
      <div class="container">
        <div class="height70px">&nbsp; </div>
        <div class="dte_logo_container">
          <a class="dte_logo" href="#" title="Down to earth">
            Down to earth
          </a>
        </div>
        <div class="social_sec">
          <ul class="subscriberUL">
            <li class="hiGuest">HI GUEST</li>
            <li class="subscriberLogin"><a href="#">SUBSCRIBER LOG IN</a></li>
          </ul>
          <div class="connectWithUs">
            <label>CONNECT WITH US</label>
            <ul class="socialIcons">
              <li><a href="#" class="facebook"> <!--Facebook--></a></li>
              <li><a href="#" class="twitter"> <!--Twitter--></a></li>
              <li><a href="#" class="googlePlus"> <!--Google Plus--></a></li>
              <li><a href="#" class="youtube"> <!--Your Tube--></a></li>
              <li><a href="#" class="pntrist"> <!--Pntrist--></a></li>
              <li><a href="#" class="rss"> <!--Rss--></a></li>

            </ul>
          </div>
        </div>


        <div class="subscribe_sec">
          <input class="subscribe_btn" type="button"/>

          <div class="magazine">
            <img src="images/magagine_img.jpg"/>
          </div>

        </div>


        <div class="redGreeDivider"></div>


        <div class="browse_search">

          <div class="browse_by_subject"><input class="browse_by_subject_btn" type="button"/><button class="txt_label">BROWSE BY SUBJECT</button></div>
          <div class="search_sec">
            <input class="search_input" type="text"/><button class="search_btn">SEARCH</button>
          </div>
          <div class="clearFix"></div>
        </div>



        <div class="main_nav">
          <ul>
            <li><a href="#" class="active">INDIA</a></li>
            <li><a href="#">WORLD</a></li>
            <li><a href="#">CLIMATE CHANGE</a></li>
            <li><a href="#">FOOD</a></li>
            <li><a href="#">HEALTH</a></li>
            <li><a href="#">LIFESTYLE</a></li>
            <li><a href="#">WATER</a></li>
            <li class="moreLink"><a href="#">   &nbsp;  </a></li>
          </ul>
        </div>


      </div>

    </header>


    <div class="container">
      <div class="home_banner">
        <div class="banner_img"><img src="images/header_img1.jpg"/></div>

        <div class="home_banner_content">

          <div class="banner_headings">
            <h1>After Aila Cyclone</h1>
            <p class="headingDis">Boats carrying relief supplies bring some cheer but there may not be enough for everyone </p>
          </div>


          <ul class="bannerLinks">
            <li><a href="#"> EXPOSE </a></li>
            <li><a href="#"> REPORTS </a></li>
            <li ><a href="#" class="active"> INTERVIEWS </a></li>
          </ul>

        </div>
      </div>



    </div>



    <div class="container_2">

      <section class="NewsSection1">
        <aside class="left_sec">

          <div class="topicHeading redLine_1px">
            <h1>NEWS</h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials redLine_2px">

          <div class="news1">
            <img src="images/newImg1.jpg" />

            <div class="newsContent">
              <h2><a href="#">Thirteen women die after undergoing sterilisation at government camp in Chhattisgarh</a></h2>
              <p class="content_des">Locals claim negligence as doctors rushed to meet targets</p>
              <div class="posted1">
                <label>Author(s): <span>Kundan Pandey</span> </label>
                <div class="dateTime">November 11, 2014</div>
              </div>
            </div>

            <div class="clearFix"></div>
          </div>


          <div class="nTopics redLine_2px">
            <ul class="ulColums">
              <li>
                <div class="nTopic1">
                  <img src="images/newsImg_sm1.jpg"/>

                  <div class="nTopicContent">
                    <h2><a href="#">Chhattisgarh tribals to get sterilisation facilities after 30 years</a></h2>
                    <p class="nTopicDec">Planning Commission asks state to ensure no discrimination</p>
                  </div>

                </div>
              </li>
              <li>
                <div class="nTopic1">
                  <img src="images/newsImg_sm2.jpg"/>
                  <div class="nTopicContent">
                    <h2><a href="#">Iraq needs US $38.5 mn aid to avert collapse of  sector</a></h2>
                    <p class="nTopicDec">Many of Iraq's water resources, including two great rivers Tigris & Euphrates flows through areas that are under IS militants’ control</p>
                  </div>

                </div>
              </li>
              <li>
                <div class="nTopic1">
                  <img src="images/newsImg_sm3.jpg"/>
                  <div class="nTopicContent">
                    <h2><a href="#">Healthcare takes hit as conflict intensifies in Iraq</a></h2>
                    <p class="nTopicDec">Planning Commission asks state to ensure no discrimination</p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="clearFix"></div>
          </div>



          <div class="otr_topic redLine_2px nTopicContent">
            <div class="content_vAlign">
              <h2><a href="#">NGT slams Delhi government for worsening air pollution; sets agenda to curb vehicular emissions</a></h2>
              <p class="nTopicDec2">Author(s): Kundan Pandey</p>
            </div>
          </div>
          <div class="otr_topic redLine_2px nTopicContent">
            <div class="content_vAlign">
              <h2><a href="#">`I did not have a government for 36 hours'</a></h2>
              <p class="nTopicDec2">Author(s): Kundan Pandey</p>
            </div>
          </div>
          <div class="otr_topic redLine_2px nTopicContent">
            <div class="content_vAlign">
              <h2><a href="#">Health leaders call for concerted action on climate change at Lima summit</a></h2>
              <p class="nTopicDec2">Author(s): Kundan Pandey</p>
            </div>
          </div>


        </div>


        <div class="clearFix"></div>
      </section>


      <section class="TrendingTopic1">
        <aside class="left_sec">

          <div class="topicHeading redLine_1px">
            <h1>TRENDING
              TOPICS </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials ">

          <div class="width388px fl">
            <div class="nTopic2">
              <img src="images/trending_topic_img1.jpg"/>
              <div class="nTopicContent2">
                <h2><a href="#">One in every nine persons in the world goes hungry</a></h2>
                <p class="nTopicDec2">Asia houses 526 million of the 805 million chronically undernourished people in the world

                  Author: Rajit Sengupta</p>
              </div>
            </div>

            <ul class="ulRows">
              <li>
                <div class="otr_topic2 redLine_1px ">
                  <p class="nTopicDec3"> <a href="#">Food insecurity continues to be major threat for Africa and Asia</a>


                  </p>
                </div></li>

              <li><div class="otr_topic2 redLine_1px ">
                  <p class="nTopicDec3"> <a href="#">'South Asia has highest number of chronically hungry people'</a></p>
                </div></li>

              <li> <div class="otr_topic2 redLine_1px ">
                  <p class="nTopicDec3"> <a href="#">India's poverty eradication challenge</a></p>
                </div></li>
            </ul>

          </div>


          <div class="divider600px fl"> &nbsp; </div>

          <div class="width360px fl">
            <div class="nTopic3">
              <img src="images/trending_topic_img2.jpg"/>
              <div class="nTopicContent3">
                <h2><a href="#">Polar vortex may freeze parts of US again this winter</a></h2>
                <p class="nTopicDec3">Private weather forecaster AccuWeather forecasts a colder winter due to polar vortex; US Met office bets on El Niño </p>
              </div>
            </div>


            <div class="tdTopicMd fl redLine_1px">
              <h2><a href="#">'Southeast US likely to get cold shots this time'</a></h2>
              <p class="nTopicDecAoth">Author Jemima Rohekar </p>
              <p class="nTopicDecAoth">October 21, 2014</p>
            </div>


            <div class="fl width185px">
              <div class="discripsn1">Clim.cold waves and possible brakes on plant migration</div>
              <div class="discripsn2">Combined effects of the North Atlantic Oscillation and the Arctic Oscillation on sea surface temperature in the 	</div>

            </div>


          </div>

        </div>


        <div class="clearFix"></div>
      </section>


      <section class="BlogsSection1">
        <aside class="left_sec">

          <div class="topicHeading greenLine_1px">
            <h1>BLOGS </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials homeblog greenLine_2px">

          <ul class="ulColums_10px">
            <li><div class="width183px fl blogList1">

                <div><img src="images/blog_img1.jpg"/></div>
                <p class="bDetails"><a href="#">Many parts of southern India likely to witness heavy rainfall</a></p>

                <p class="bPostedBY">Posted by Akshay</p>
              </div></li>

            <li>
              <div class="width183px fl blogList1">

                <div><img src="images/blog_img2.jpg"/></div>
                <p class="bDetails"><a href="#">Taking labour out of the picture</a></p>

                <p class="bPostedBY">Posted by Latha Jishnu</p>
              </div></li>

            <li> <div class="width183px fl blogList1">

                <div><img src="images/blog_img3.jpg"/></div>
                <p class="bDetails"><a href="#">Cyclone Hudhud: experience from Koraput</a></p>

                <p class="bPostedBY">Posted by Bidyut Mohanty</p>
              </div></li>

            <li>
              <div class="width183px fl blogList1">

                <div><img src="images/blog_img4.jpg"/></div>
                <p class="bDetails"><a href="#">Making sense of `Make in India'</a></p>

                <p class="bPostedBY">Posted by Richard  </p>
              </div></li>

          </ul>







        </div>


        <div class="clearFix"></div>
      </section>

      <section class="OpinionsSection1">
        <aside class="left_sec">

          <div class="topicHeading greenLine_1px">
            <h1>OPINIONS </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials homeblog greenLine_2px">

          <div class="width578px opinionSec fl mr10px">

            <div class="fl mr5px">
              <img src="images/opinions_img1.jpg"/>
            </div>

            <div class="fl"><img src="images/opinions_img2.jpg"/></div>

            <div class="clearFix"></div>
            <div class="opinionSec_detail">
              <h2><a href="#">South Africa aims to speed up service delivery to all citizens</a></h2>
              <p class="bDetails">Country’s 20 year review shows jump in access to sanitation and water services between 1994 and 2014</p>
              <p class="bPostedBY">Author(s): Sunita Narain  </p>
            </div>

          </div>


          <div class="interviewSec fl width183px">
            <div class="interviewieImg"><img src="images/opinions_Interviewer_img1.jpg"/></div>

            <div class="interviewTxt">INTERVIEW</div>

            <p class="interviewDetlTxt">T S R Subramanian, former cabinet secretary and chairperson of the HLC</p>

            <p class="interviewPostedBy"> Posted by Latha Jishnu  </p>

          </div>


        </div>


        <div class="clearFix"></div>
      </section>




      <section class="socialStoriesSaction1">
        <aside class="left_sec">

          <div class="topicHeading orangeLine_1px">
            <h1 style="font-size:20px;">EXCERPTS &
              QUOTATIONS</h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials orangeLine_2px">


          <ul class="ExpertArticleList">
            <li> <div class="ExpertQuotation">
                <div class="ExpertQuotationTable">
                  <div class="ExpertColumn countLabel">
                    <label>1</label>
                  </div>
                  <div class="ExpertColumn expertTitleNauth">
                    <h2> <a href="#">`Family farming is not a romantic
                        idea. It is business'</a></h2>
                    <h4>Kanayo F Nwanze, president of IFAD</h4>
                  </div>

                </div>

                <article class="ExpertArticle">
                  The food price rise of 2007-08 highlighted that investments in the agriculture sector have drastically reduced in the past three decades. One of the most effective ways to increase food production and fight rural poverty is by repositioning family farming at the centre of agriculture. This is the reason the UN has declared 2014 as the year of family farming. Kanayo F Nwanze, president of the International Fund for
                </article>

                <div class="ExpertPBY">Author(s): Jitendra    November 15, 2014</div>

              </div></li>
            <li> <div class="ExpertQuotation">
                <div class="ExpertQuotationTable">
                  <div class="ExpertColumn countLabel">
                    <label>1</label>
                  </div>
                  <div class="ExpertColumn expertTitleNauth">
                    <h2> <a href="#">`Family farming is not a romantic
                        idea. It is business'</a></h2>
                    <h4>Kanayo F Nwanze, president of IFAD</h4>
                  </div>

                </div>

                <article class="ExpertArticle">
                  The food price rise of 2007-08 highlighted that investments in the agriculture sector have drastically reduced in the past three decades. One of the most effective ways to increase food production and fight rural poverty is by repositioning family farming at the centre of agriculture. This is the reason the UN has declared 2014 as the year of family farming. Kanayo F Nwanze, president of the International Fund for
                </article>

                <div class="ExpertPBY">Author(s): Jitendra    November 15, 2014</div>

              </div></li>




          </ul>




        </div>


        <div class="clearFix"></div>
      </section>












      <section class="TwitterSaction1">
        <aside class="left_sec">

          <div class="topicHeading blueLine_1px">
            <h1>TWITTER
            </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials blueLine_2px">


          <ul class="TwitterFeedList">
            <li>
              <div class="TwitterFeedPost">


                <article class="TwitterPost">
                  Ironically #US-China #climatechange deal lifts pressure on #India to do anything. Now business as usual is ok
                </article>
                <div class="twitterFollow_Btn"><a href="#"><img  src="images/twitter_follow_btn.png"/></a></div>
                <div class="TwitterPBY"><a href="#">Sunita Narain @sunitanar </a></div>

              </div>

              <div class="twitterLikeShare"> options</div>
            </li>

            <li>
              <div class="TwitterFeedPost">


                <article class="TwitterPost">
                  #US-style idea equity in #climatechange. Instead of reducing so that poor can grow. Everybody can pollute equally
                </article>
                <div class="twitterFollow_Btn"><a href="#"><img  src="images/twitter_follow_btn.png"/></a></div>
                <div class="TwitterPBY"><a href="#">Sunita Narain @sunitanar </a></div>

              </div>
              <div class="twitterLikeShare"> options</div>
            </li>

            <li>
              <div class="TwitterFeedPost">


                <article class="TwitterPost">
                  US-China #climatechange: All have right to pollute. Biggest emitters agree to converge in 2030 at 12 per capita nt/world%
                </article>


                <div class="twitterFollow_Btn"><a href="#"><img  src="images/twitter_follow_btn.png"/></a></div>
                <div class="TwitterPBY"><a href="#">Sunita Narain @sunitanar </a> </div>

              </div>
              <div class="twitterLikeShare"> options</div>
            </li>


          </ul>




        </div>


        <div class="clearFix"></div>
      </section>








      <section class="TopicsOfInterestSaction1">
        <aside class="left_sec">

          <div class="topicHeading blueLine_1px">
            <h1>TOPICS OF
              INTEREST
            </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials">
          <div class="blueLine_2px fl">
            <div class="TopicClouds">
              <div class="TopicCloudsIn">  <img src="images/topic_of_intrust_cloud_img.png"/></div>

            </div>

          </div>

          <div class="topicsDivider fl">&nbsp; </div>


          <div class="blueLine_2px TopicMore">
            <div class="TopicMoreIn">
              <ul>
                <li><a href="#"> Gujarat set to develop India’s first tidal energy plant</a></li>
                <li><a href="#"> Make wealth from waste</a></li>
                <li><a href="#"> Scientists find new mechanism that contributes to Arctic warming</a></li>
                <li><a href="#"> Graphic Editor Sorit Gupto's take on green clearances for mining </a></li>
              </ul>
            </div>
          </div>


        </div>


        <div class="clearFix"></div>
      </section>



      <section class="CartoonIllustrationSaction1">
        <aside class="left_sec">

          <div class="topicHeading green2Line_1px">
            <h1 style="font-size:20px;">CARTOONS &
              ILLUSTRATIONS
            </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials green2Line_2px">

          <ul class="CartoonIllustration">
            <li><img src="images/cartoons_img1.jpg"/></li>
            <li class="cartoonDisSec">
              <div class="cartoonDis"><a href="#">Graphic Editor Sorit Gupto on world hunger levels</a></div>
              <div class="cartoonIllustrationAut">Author(s) : Sorit Gupto   November 7, 2014 </div>
            </li>
          </ul>



        </div>


        <div class="clearFix"></div>
      </section>



      <section class="RecipesSaction1">
        <aside class="left_sec">

          <div class="topicHeading green2Line_1px">
            <h1>RECIPES </h1>
            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>

        </aside>

        <div class="topicDetials">
          <ul class="RecipesSec">
            <li class="recipeImg">  <img src="images/recipes_img1.jpg"/> </li>
            <li class="recipeContent">
              <div class=" green2Line_2px">

                <ul>

                  <li class="greenBgContent">
                    <h3><a href="#">Stir-fried saratabhaji</a></h3>
                    <p>Drought made palatable</p>
                    <div class="recipeAuth">Author(s) : Aparna Pallavi   November 15, 2014 </div>
                  </li>

                  <li class="recipeSmDis"><p>Since the identity and location of the natural reservoir of Ebola virus are unknown, there are few established primary prevention measures</p></li>

                </ul>


              </div>

            </li>

          </ul>






        </div>


        <div class="clearFix"></div>
      </section>








      <section id="dte_intro">
        <aside class="sidebar_main">
          <div class="sidebar_container">
            <div class="intro_header">
              <h3><img alt="" src="images/icon_home.png"> Home</h3>
            </div><!-- /end .intro_header -->
          </div><!-- /end .sidebar_container -->

          <div class="intro_menu">
            <h3>Hot Topics</h3>
          </div><!-- /end .intro_menu -->
        </aside>

        <div class="news_content">
          <div class="news_content_container">
            <div class="intro_header">
              <h2 class="intro_title">
                <div class="redLine_1px"></div>
                Climate Change
              </h2>

              <div class="form_group">
                <p>Follow ‘India’ on Down To Earth: <a href="#" class="rss"></a></p>

                <div class="clearFix"></div>

                <div class="input_group">
                  <input type="text" placeholder="Enter email ID">

                  <span class="input_group_btn">
                    <button type="button" class="theme_btn">Follow</button>
                  </span><!-- /end .input_group_btn -->

                  <div class="clearFix"></div>
                </div><!-- /end .input_group -->

                <div class="clearFix"></div>
              </div><!-- /end .form_group -->

              <div class="clearFix"></div>
            </div><!-- /end .intro_header -->
          </div><!-- /end .news_content_container -->

          <div class="intro_menu">
            <ul>
              <li><a href="#">Save the Ganga</a></li>
              <li class="bullet">&bull;</li>
              <li><a href="#">Energy Consumption</a></li>
              <li class="bullet">&bull;</li>
              <li><a href="#">WTO</a></li>
              <li class="bullet">&bull;</li>
              <li><a href="#">World Health Organization</a></li>

              <div class="clearFix"></div>
            </ul>
          </div><!-- /end .intro_menu -->
        </div><!-- /end .news_content -->

        <div class="clearFix"></div>
      </section><!-- /end .dte_intro -->

      <section class="NewsSection1">
        <aside class="left_sec">
          <div class="topicHeading greenLine_1px">
            <h1>Blogs</h1>

            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>
        </aside>

        <div class="topicDetials greenLine_2px">
          <div class="blog2">
            <article class="blog_content1">
              <figure>
                <img src="images/blog_img1.jpg" alt="">

                <figcaption class="tag tag_green tag_abs tag_btm tag_rt">
                  Rainfall
                </figcaption>
              </figure>

              <div class="blog_text">

                <h4><a href="#">Many parts of southern India likely to witness heavy rainfall</a></h4>

                <p class="blog_author">Posted by <a href="#">Akshay</a></p>
              </div>
            </article><!-- /end .blog_content1 -->

            <div class="blog_content2">
              <article class="blog_horizontal">
                <figure>
                  <img src="images/blog_img2.jpg" alt="">
                </figure>

                <div class="blog_text">
                  <span class="tag tag_green tag_abs tag_btm tag_lt">Global Warming</span>

                  <h4><a href="#">Taking labour out of the picture</a></h4>

                  <p class="blog_author">Posted by <a href="#">Latha Jishnu</a></p>
                </div><!-- /end .blog_text -->

                <div class="clearFix"></div>
              </article><!-- /end .blog_horizontal -->

              <article class="blog_horizontal">
                <figure>
                  <img src="images/blog_img3.jpg" alt="">
                </figure>

                <div class="blog_text">
                  <span class="tag tag_green tag_abs tag_btm tag_lt">Climate Change</span>

                  <h4><a href="#">Cyclone Hudhud: experience from Koraput</a></h4>

                  <p class="blog_author">Posted by <a href="#">Bidyut Mohanty</a></p>
                </div><!-- /end .blog_text -->

                <div class="clearFix"></div>
              </article><!-- /end .blog_horizontal -->
            </div>

            <div class="clearFix"></div>
          </div><!-- /end .blog2 -->
        </div><!-- /end .topicDetials -->

        <div class="clearFix"></div>

        <aside class="left_sec">
          <div class="topicHeading">
            <h2 class="heading_subcategory">Our Contributors</h2>

            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>
        </aside>

        <div class="topicDetials">
          <div class="blog2">
            <article class="contribute_title tag_green">
              <h2>View Bloggers Directory</h2>
            </article><!-- /end .contribute_title -->

            <div class="blog_carousel greenLine_2px">
              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist1.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist2.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist3.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist4.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist1.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist2.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist3.jpg" alt=""></a>
                </figure>
              </div>

              <div>
                <figure>
                  <a href="#"><img src="images/environmentalist4.jpg" alt=""></a>
                </figure>
              </div>
            </div><!-- /end .blog_carousel -->
          </div><!-- /end .blog2 -->
        </div><!-- /end .topicDetials -->

        <div class="clearFix"></div>
      </section>

      <section class="multimedia NewsSection1">
        <aside class="left_sec">
          <div class="topicHeading yellow2Line_1px">
            <h2>
              Multimedia <span>Gallery</span>
            </h2>

            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>
        </aside>

        <div class="topicDetials yellow2Line_2px">
          <div class="mm_container">
            <article class="mm_tile_5 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_video_img1.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_vid"></span>
                    <p>Water is seen making its way through Lal Chowk, the heart of Srinagar, during the floods</p>
                  </figcaption>
                </figure>
              </a>
            </article>

            <article class="mm_tile_2 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_img1.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_img"></span>
                    <p>Five Earth-like planets discovered by NASA</p>
                  </figcaption>
                </figure>
              </a>
            </article>

            <article class="mm_tile_2 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_info_img1.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_info"></span>
                    <p>Climate Talkies’ takes its inspiration from some of the greatest and most iconic Hollywood film.</p>
                  </figcaption>
                </figure>
              </a>
            </article>

            <div class="clearFix"></div>
          </div>

          <div class="mm_container">
            <article class="mm_tile_2 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_info_img2.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_info"></span>
                    <p>Ten dead, six injured in Mumbai building collapse</p>

                  </figcaption>
                </figure>
              </a>
            </article>
            <article class="mm_tile_2 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_video_img2.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_vid"></span>
                    <p>Uttarakhand: inheritance of loss</p>
                  </figcaption>
                </figure>
              </a>
            </article>
            <article class="mm_tile_2 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_img2.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_img"></span>
                    <p>Valley of saffron flowers</p>
                  </figcaption>
                </figure>
              </a>
            </article>
            <article class="mm_tile_2 eq_height">
              <a href="#">
                <figure>
                  <img src="images/multimedia_gallery_img3.jpg" alt="">

                  <figcaption>
                    <span class="mm_icon mm_icon_img"></span>
                    <p>Srinagar's floating bazaar</p>
                  </figcaption>
                </figure>
              </a>
            </article>

            <div class="clearFix"></div>
          </div>
        </div>

        <div class="clearFix"></div>
      </section>

      <section class="NewsSection1">
        <aside class="left_sec">
          <div class="topicHeading grayLine_1px">
            <h2><span>Books &amp; </span>Publications</h2>

            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>
        </aside>

        <div class="topicDetials grayLine_2px">
          <article class="books_item eq_height">
            <div>
              <div class="publishing_body">
                <a href="#">
                  <figure><img src="images/books_img1.jpg" alt=""></figure>

                  <p class="item_books_name">State of Renewable Energy in India:  A Citizen's Report</p>
                </a>

                <span>
                  <p class="item_books_details">Pages: 198</p>
                  <p class="item_books_details">₹ 690/- (US $ 40)</p>
                </span>

                <button>Order</button>
              </div><!-- /end .publishing_body -->
            </div>
          </article>

          <article class="books_item eq_height">
            <div>
              <div class="publishing_body">
                <a href="#">
                  <figure><img src="images/books_img2.jpg" alt=""></figure>

                  <p class="item_books_name">DTE: State of India's Environment 2014</p>
                </a>

                <span>
                  <p class="item_books_details">Pages: 198</p>
                  <p class="item_books_details">₹ 690/- (US $ 40)</p>
                </span>

                <button>Order</button>
              </div><!-- /end .publishing_body -->
            </div>
          </article>

          <article class="books_item eq_height">
            <div>
              <div class="publishing_body">
                <a href="#">
                  <figure><img src="images/books_img3.jpg" alt=""></figure>

                  <p class="item_books_name">Clearing the Air in Indian Cities</p>
                </a>

                <span>
                  <p class="item_books_details">Pages: 198</p>
                  <p class="item_books_details">₹ 690/- (US $ 40)</p>
                </span>

                <button>Order</button>
              </div><!-- /end .publishing_body -->
            </div>
          </article>

          <article class="books_item eq_height">
            <div>
              <div class="publishing_body">
                <a href="#">
                  <figure><img src="images/books_img4.jpg" alt=""></figure>

                  <p class="item_books_name">Junk Food Busted</p>
                </a>

                <span>
                  <p class="item_books_details">Pages: 198</p>
                  <p class="item_books_details">₹ 690/- (US $ 40)</p>
                </span>

                <button>Order</button>
              </div><!-- /end .publishing_body -->
            </div>
          </article>
        </div>

        <div class="clearFix"></div>
      </section>

      <section class="NewsSection1">
        <aside class="left_sec">
          <div class="topicHeading orangeLine_1px">
            <h1>DTE Explains</h1>
          </div>

          <div class="topicHeading orangeLine_1px">
            <h2>Natural Disasters</h2>

            <a class="seeAll_btn" href="#"> SEE ALL </a>
          </div>
        </aside>

        <div class="topicDetials orangeLine_2px">
          <div class="location_img eq_height"></div>

          <div class="dte_explains_content eq_height">
            <div class="location_info_tab">
              <ul class="location_info_tab_title eq_height">
                <li><a href="#tab_1">Kenya</a></li>

                <li><a href="#tab_2">New York</a></li>

                <li><a href="#tab_3">London</a></li>

                <li><a href="#tab_4">Mexico</a></li>
              </ul>

              <div class="location_info_tab_content eq_height">
                <div class="tab_item" id="tab_1">
                  <!-- <ul class="disaster_list">
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                  </ul> -->
                  <p>Work in Progress!</p>
                </div>

                <div class="tab_item" id="tab_2">
                  <p>Work in Progress!</p>
                </div>

                <div class="tab_item" id="tab_3">
                  <p>Work in Progress!</p>
                </div>

                <div class="tab_item" id="tab_4">
                  <p>Work in Progress!</p>
                </div>
              </div><!-- /end .location_info_tab_content -->

              <div class="clearFix"></div>
            </div><!-- /end .location_info_tab -->

            <div class="location_info_news">
              <ul>
                <li class="orangeLine_1px">
                  <figure class="eq_height"><img src="images/dte_exp_news1.jpg" alt=""></figure>

                  <span class="info_news_text eq_height">
                    <p>Centre for Science and Environment’s Vijeta Rattani writes from the UN Climate Change Conference in Lima, Peru</p>
                  </span>

                  <div class="clearFix"></div>
                </li>

                <li class="orangeLine_1px">
                  <figure class="eq_height"><img src="images/dte_exp_news2.jpg" alt=""></figure>

                  <span class="info_news_text eq_height">
                    <p>Summit seeks joint engagement by countries, civil society and private sector</p>
                  </span>

                  <div class="clearFix"></div>
                </li>

                <li class="orangeLine_1px">
                  <figure class="eq_height"><img src="images/dte_exp_news3.jpg" alt=""></figure>

                  <span class="info_news_text eq_height">
                    <p>At the UN Climate Summit plenaries most developed countries like the UK and the US displayed commitment </p>
                  </span>

                  <div class="clearFix"></div>
                </li>
              </ul>
            </div><!-- /end .location_info_news -->
          </div><!-- /end .dte_explains_content -->
        </div>

        <div class="clearFix"></div>
      </section>

    </div>

    <!-- Scripts -->
    <script src="js/jQuery-1.11.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/jQueryOnScreen-0.2.1.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
